
.carousel-item {
  height: fit-content;
}

.carousel-item .card {
  padding-bottom: 60px;
  margin: 20px;
  box-shadow: 0 14px 8px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

 .carousel-item .card .card-img-top{
   padding: 20px;
 }

 .carousel .slide{
   padding-bottom: 20px;
 }

 .carousel {
   /* background-color: black; */
 }
 
 .carousel-indicators{
   bottom: -30px;
 }

 .carousel-indicators button{
   background-color: gray !important;
 }